* {
  box-sizing: border-box;
}

body {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 16px;
  width: 100%;
}

input:focus {
  outline: none;
}

.fa {
  width: 20px;
  text-align: center;
}

.fa-li {
  position: relative;
  margin: 0;
  left: auto;
  width: auto;
  top: auto;
}

.yellow {
  color: yellow;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.green {
  color: green;
}

.fly-out-menu {
  background: #343F53;
  width: 20%;
  height: 100%;
  display: inline-block;
  color: #fff;
  position: relative;
  z-index: 1;
}

.profile-section {
  border-bottom: 2px solid #2E374A;
  padding: 30px 0 20px 0;
}

.profile-pic {
  background: url('images/profile.png');
  background-position: -22px -12px;
  background-size: 150px;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin:auto;
  display: block;
  color: #A5B0C4;
}

.profile-section a {
  margin: 10px auto;
  width: 122px;
  display: block;
  text-decoration: none;
  color: #A5B0C4;
}

.profile-section a:hover {
  color: #fff;
}

.fly-out-menu nav {
  border-bottom: 2px solid #2E374A;
  padding: 20px 0;
}

.fly-out-menu h2 {
  padding: 8px 22px;
  color: #A5B0C4;
}

.fly-out-menu nav ul li a {
  display: block;
  padding: 8px 20px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  border-left: 2px solid #343F53;
  color: #A5B0C4;
}
.fly-out-menu nav ul li a:hover {
  background: #2E374A;
  border-left: 2px solid #00AAFC;
  color: #fff;
}

.main-wrap {
  display: inline-block;
  vertical-align: top;
  width: 80.01%;
  margin-left: -5px;
}

ul.search-area {
  border-bottom: 1px solid grey;
  line-height: 52px;
  display: block;
}

.search-input .fa {
  font-size: 30px;
  margin: 0 15px;
}

.search-area li {
  display: inline-block;
  color: #999FA2;
  border-right: 1px solid grey;
}

.search-area li a {
  color: #999FA2;
}

.search-area #search {
  height: 45px;
  font-size: 29px;
  width: 65%;
  border: none;
}

#search::-webkit-input-placeholder { 
  color: #999FA2;
}

.search-area a {
  padding: 15px 27px 15px 21px;
  font-size: 30px;
}

.search-area a:hover {
  background: #009FFE;
  color: #fff;
}

.search-area .users {
  border-left: 1px solid grey;
}

.search-area .search-input {
  border-right: none;
}

article.info {
  position: relative;
  height: 150px;
  display: block;
}

article.info p {
  margin: 0 0 0 25px;
}

article.info p a {
  color: #6CCFFF;
}

article.info h2 {
  margin: 25px 0 10px 25px;
  display: inline-block;
  font-size: 20px;
}

.main-nav {
  position: absolute;
  bottom: 0;
  left: 10px;
}

.main-nav li {
  display: inline;
  margin: 0 20px;
}

.main-nav li a{
  padding: 0 0 20px 0;
  text-decoration: none;
}

.main-nav li a:hover {
  border-bottom: 3px solid blue;
}

/* -------------CHARTS---------- */

article.charts {
  background: #ECF2F6;
  margin: 24px 0 0 0;
}

.set-size {
  font-size: 10em;
}
.charts-container:after {
  clear: both;
  content: "";
  display: table;
}
.pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  margin: 15px;
  position: relative;
}
.pie-wrapper:nth-child(3n+1) {
  clear: both;
}
.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.1em solid #3498db;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .label {
  background: #34495e;
  border-radius: 50%;
  bottom: 0.4em;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.6em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
}
.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: .45em;
  padding-bottom: 20px;
  vertical-align: super;
}
.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.1em solid #bdc3c7;
  border-radius: 50%;
}
.pie-wrapper.style-2 .label {
  background: none;
  color: #7f8c8d;
}
.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}
.pie-wrapper.progress-30 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-30 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-30 .pie .left-side {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}
.pie-wrapper.progress-60 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-60 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-60 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-60 .pie .left-side {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}
.pie-wrapper.progress-90 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-90 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-90 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-90 .pie .left-side {
  -webkit-transform: rotate(324deg);
          transform: rotate(324deg);
}
.pie-wrapper.progress-45 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-45 .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-45 .pie .left-side {
  -webkit-transform: rotate(162deg);
          transform: rotate(162deg);
}
.pie-wrapper.progress-75 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-75 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-75 .pie .half-circle {
  border-color: #8e44ad;
}
.pie-wrapper.progress-75 .pie .left-side {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.pie-wrapper.progress-95 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-95 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-95 .pie .half-circle {
  border-color: #e74c3c;
}
.pie-wrapper.progress-95 .pie .left-side {
  -webkit-transform: rotate(342deg);
          transform: rotate(342deg);
}
.pie-wrapper--solid {
  border-radius: 50%;
  overflow: hidden;
}
.pie-wrapper--solid:before {
  border-radius: 0 100% 100% 0%;
  content: '';
  display: block;
  height: 100%;
  margin-left: 50%;
  -webkit-transform-origin: left;
          transform-origin: left;
}
.pie-wrapper--solid .label {
  background: transparent;
}
.pie-wrapper--solid.progress-65 {
  background: -webkit-linear-gradient(left, #e67e22 50%, #34495e 50%);
  background: linear-gradient(to right, #e67e22 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-65:before {
  background: #e67e22;
  -webkit-transform: rotate(126deg);
          transform: rotate(126deg);
}
.pie-wrapper--solid.progress-25 {
  background: -webkit-linear-gradient(left, #9b59b6 50%, #34495e 50%);
  background: linear-gradient(to right, #9b59b6 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-25:before {
  background: #34495e;
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
}
.pie-wrapper--solid.progress-88 {
  background: -webkit-linear-gradient(left, #3498db 50%, #34495e 50%);
  background: linear-gradient(to right, #3498db 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-88:before {
  background: #3498db;
  -webkit-transform: rotate(43.2deg);
          transform: rotate(43.2deg);
}




