* {
  box-sizing: border-box;
}

body {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 16px;
  width: 100%;
  background: #343F53;
  overflow-x: hidden;
}

a,
button,
input:focus {
  outline: none;
}

.fa {
  width: 20px;
  text-align: center;
}

.fa-li {
  position: relative;
  margin: 0;
  left: auto;
  width: auto;
  top: auto;
}

.yellow {
  color: yellow;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.markers li:first-child a i,
.green {
  color: #6BCC3B;
}

.fly-out-menu {
  background: #343F53;
  width: 20%;
  
  display: inline-flex;
  flex-flow: column;
  height: 100%;
  color: #fff;
  position: relative;
  z-index: 1;
}

.profile-section {
  border-bottom: 2px solid #2E374A;
  padding: 30px 0 20px 0;
}

.profile-pic {
  background: url('images/profile.png');
  background-position: -22px -12px;
  background-size: 150px;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin:auto;
  display: block;
  color: #A5B0C4;
}

.profile-section a {
  margin: 10px auto;
  width: 122px;
  display: block;
  text-decoration: none;
  color: #A5B0C4;
}

.profile-section a:hover {
  color: #fff;
}

.fly-out-menu nav {
  border-bottom: 2px solid #2E374A;
  padding: 20px 0;
}

.fly-out-menu h2 {
  padding: 8px 22px;
  color: #A5B0C4;
}

.fly-out-menu nav ul li a {
  display: block;
  padding: 8px 20px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  border-left: 2px solid #343F53;
  color: #A5B0C4;
}
.fly-out-menu nav ul li a:hover {
  background: #2E374A;
  border-left: 2px solid #00AAFC;
  color: #fff;
}

.main-wrap {
  display: inline-block;
  vertical-align: top;
  width: 80.01%;
  margin-left: -5px;
  background-color: #fff;
  border-left: 1px solid #343F53;
}

ul.search-area {
  border-bottom: 1px solid #999FA2;
  line-height: 52px;
  display: block;
}

.search-area li {
  width:60px;
  text-align: center;
  display: inline-block;
  color: #999FA2;
  border-right: 1px solid #999FA2;
}

.search-area li a {
  color: #999FA2;
  font-size: 20px;
}

.search-area li:hover a,
.search-area li:hover {
  background: #009FFE;
  color: #fff;
}

.search-area li .fa {
  width: auto;
}

.search-area .search-input {
  border-right: none;
  width: calc(100% - 247.8px);
  text-align: left;
  padding-left: 10px;
  font-size: 20px;
}

.search-area #search {
  display: inline-block;
  margin: 0 0 0 5px;
  font-size: 20px;
  border: none;
  height: 50px;
  padding: 0 0 0 5px;
  width: calc(100% - 30px);
}

.search-area .search-input:hover {
  background: #fff;
}

.search-area .search-input:hover .fa {
  color: #999FA2;
}

#search::-webkit-input-placeholder { 
  color: #999FA2;
}

.search-area .users {
  border-left: 1px solid #999FA2;
}

.search-area .calendar,
.search-area .display-blocks {
  margin-left: -5px;
}

.search-area .display-blocks {
  border: none;
}

.job-info-wrap {
  position: relative;
  height: 150px;
  display: block;
  padding: 45px 40px 0 45px;
}

.job-info-wrap p a {
  color: #6CCFFF;
}

.job-info-wrap h2 {
  display: inline-block;
  margin: 0 0 10px 0;
  font-size: 20px;
}

.markers {
  position: absolute;
  right: 60px;
  top: 55px;
}

.markers li a {
  border: 1px solid grey;
  border-radius: 100%;
  padding: 10px;
  color: #9DA3B1;
  margin-right: 5px;
  text-decoration: none;
}

.markers li {
  display: inline-block;
}

.markers li:first-child a {
  border-radius: 30px;
  padding: 10px 15px;
}

.bookmark:hover,
.pencil:hover,
.delete:hover {
  color: green;
}

.main-nav {
  position: absolute;
  bottom: 0;
  left: 30px;
}

.main-nav-drop {
  display: none;
}

.main-nav li {
  display: inline;
  margin: 0 20px;
}

.main-nav li a{
  padding: 0 0 20px 0;
  text-decoration: none;
}

.main-nav li .active,
.main-nav li a:hover {
  border-bottom: 3px solid #00AAFC;
}

/* -------------CHARTS---------- */

.details-wrap {
  background: #ECF2F6;
  margin: 24px 0 0 0;
  display: block;
  padding: 50px; 
}

.charts-wrap {
  position: relative;
  margin-bottom: 80px;
}

.circle-graphs {
  display: inline-block;
  position: relative;
  padding-top: 25px;
}

.bar-graphs {
  display: inline-block;
  vertical-align: top;
  margin-left: 40px;
}

.circle-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  height: 150px;
}

.circle-container h4 {
  margin: -105px auto 0 -15px;
  text-align: center;
  font-size: 40px;
}

.circle-container h4 span {
  font-size: 16px;
  top: -15px;
  position: relative;
}


.chart {
  width: 150px;
  height: 150px;
  border: 10px solid #D8E3EC;
  border-radius: 100%;
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  text-align: center;
  position: relative;
}

.chart.one {
  border-left-color: #00BCC4;
  border-right-color: #00BCC4;
  border-top-color: #00BCC4;
  transform: rotate(-45deg);
}


.chart.two {
  border-left-color: #009DFE;
  border-top-color: #009DFE;
  transform: rotate(-70deg);
}

.chart.three {
  border-bottom-color: #B659A6;
  transform: rotate(45deg);
}

.charts-wrap img {
  height: 270px;
  margin-top: -30px;
}

.charts-wrap button {
  background-color: #fff;
  border:1px solid #999FA2;
  border-radius: 25px;
  padding:10px 30px;
}

.charts-wrap .applicants-btn,
.charts-wrap .totals-btn {
  display: block;
  margin: 87px auto 20px auto;
}

.charts-wrap .applicants-btn {
  margin: 20px auto;
}

.hide-show {
  display: block;
  width: 100%;
  text-align: center;
  border-top: 1px solid #999FA2;
  overflow: visible;
  position: relative;
  margin-top: 50px;
}

.hide-show a{
  border-radius: 100%;
  color: #999FA2;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: #fff;
  position: absolute;
  top: -20px;
  border: 1px solid #999FA2;
  box-shadow: 0px 0px 0px 5px rgba(236,242,246,1);
}

.hide-show .fa {
  width: auto;
  margin-top: 5px;
  font-size: 25px;
}

.job-description {
  width: 60%;
  display: inline-block;
  margin-right: 30px;
  background-color: #fff;
  min-width: 560px;
}

.job-description header {
  background: #6D7D96;
  color: #fff;
  padding: 20px 40px;
  text-transform: uppercase;
}

.job-description header h2,
.job-description header button {
  display: inline;
}

.job-description header button {
  background: #7A8BA7;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 8px 10px;
  margin: 0 0 0 40px;
}

.job-description ul {
  padding: 0 40px;
}

.job-description ul li {
  border-bottom: 1px solid #F7F7F7;
  padding: 22px 0;
}

.job-description .description-list h3,
.job-description .description-list p {
  display: inline-block;
}

.job-description .description-list h3 {
  width: 185px;
  vertical-align: top;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.job-description .description-list p {
  width: 290px;
}

.job-description .description-list p img {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.social {
 display: inline-block;
 width: 35%;
 vertical-align: top;
 color:#67717C;
}

.social button {
  display: block;
  padding: 15px;
  border: none;
  color: #fff;
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
  text-align: left;
  margin: 0 0 15px 0;
}

.social button i {
  margin-right: 70px;
}

.social .facebook {
  background-color: #4B67C3;
}

.social .tweet-the-deets {
  background-color: #00A6F3;
}

.social .linkin {
  background-color: #0080C0;
}

.social article {
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
  margin-top: 30px;
}

.social h3 {
  margin: 10px 0;
  font-weight: bold;
}

.social p {
  line-height: 20px;
  font-size: 14px;
  margin: 0 0 10px 0;
}

.social .link-wrap {
  position: relative;
  display: block;
  height: 40px;
  border-radius: 5px;
  background: #fff;
}

.social .link-wrap button {
  position: absolute;
  right: 0;
  width: 70px;
  height: 40px;
  padding: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-align: center;
  background: #00BFBF;
}

.social .link-wrap a {
  position: absolute;
  top: 12px;
  left: 15px;
  font-size: 14px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color:#67717C;
}

.social .upload-resume {
  border-bottom: none;
}


@media only screen and (max-width: 1285px) {
  
  .job-description {
    width: 60%;
    display: inline-block;
    margin-right: 10px;
    background-color: #fff;
    min-width: 560px;
  }

   .bar-graphs {
    margin-left: 10px;
  }

}

@media only screen and (max-width: 1247px) {
  .bar-graphs {
    margin-left: 10px;
  }

  .job-description {
    width: 80%;
    display: block;
    margin: auto;
    background-color: #fff;
    min-width: 560px;
  }

  .job-description .description-list p {
    width: 400px;
  }

  .social {
    display: block;
    width: 35%;
    vertical-align: top;
    color: #67717C;
    margin: 50px auto;
    min-width: 330px;
  }

}

@media only screen and (max-width: 1230px) {

  .circle-graphs {
    display: block;
    width: 525px;
    margin: auto;
  }

  .charts-wrap .applicants-btn, .charts-wrap .totals-btn {
    display: block;
    margin: 60px auto 30px auto;
  }

  .bar-graphs {
    display: block;
    margin: 80px auto;
    width: 350px;
  }

}

@media only screen and (max-width: 1070px) {
  .main-nav {
    position: relative;
    left: auto;
  }

  .main-nav-drop {
    display: block;
    position: relative;
    bottom: -15px;
    left: 15px;
    font-size: 40px;
    width: 50px;
    margin: 20px auto;
  }

  a.main-nav-drop .fa{
    color: #999FA2;
  }

  .main-nav ul {
    display: none;
  }
}

@media only screen and (max-width: 1010px) {

  .fly-out-menu {
    min-width: 200px;
  }

  .main-wrap {
    width: calc(100% - 199.8px);
  }

}

@media only screen and (max-width: 890px) {
  
  .job-info-wrap h2 {
    display: block;
    margin: 30px auto 5px auto;
    width: 350px;
    font-size: 20px;
  }

  .job-info-wrap p {
    width: 350px;
    margin: auto;
  }

  .markers {
    position: absolute;
    right: auto;
    top: 25px;
    left: 23%;
  }

  .job-description .description-list p {
    width: 300px;
  }

  .main-nav-drop {
    display: block;
    position: relative;
    bottom: -15px;
    left: 15px;
    font-size: 40px;
    width: 50px;
    margin: auto;
  }

  .job-description .description-list h3 {
    margin-bottom: 10px;
  }

   .job-description {
    min-width: auto;
  }

}

@media only screen and (max-width: 780px) { 

  .charts-wrap {
    position: relative;
    margin-bottom: 80px;
    width: 200px;
    margin: auto;
  }

  .circle-graphs {
    display: block;
    width: 200px;
    margin: -60px auto 0 auto;
  }

  .circle-container {
      display: block;
      margin: 20px;
      height: 150px;
  }

  .charts-wrap img {
    height: 270px;
    margin-top: -30px;
    margin-left: -70px;
  }

  .charts-wrap .applicants-btn {
     margin: 20px auto auto 25px;
  }

  .hide-show {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .job-description .description-list p {
    width: 200px;
  }
  
  .job-description header button {
    margin: 10px auto;
  }

}

@media only screen and (max-width: 650px) { 

  .hide-show a {
    left: 40%;
  }

  .markers {
    left: 15%;
  }

  .fly-out-menu {
    display: block;
    width: 100%;
  }

  .fly-out-menu h2 {
    text-align: center;
  }

  .main-wrap {
    width: 101%;
    margin-left: -1px;
  }

  .details-wrap {
    padding: 50px 15px;
  }

  .job-description {
    width: 100%;
  }

  .job-info-wrap {
    padding: 45px 40px 0 10px
  }

  .main-drop,
  .admin-drop,
  .categories-drop {
    display: none;
  }

  .social {
    width: 100%;
    min-width: auto;
  }

}








